#Contact form{
    width: 65%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Comfortaa;
}
#Contact form input,textarea,button:focus{
    outline: 0;
}
#Contact form textarea{
    background-color: #303030;
    width: 100%;
    border-radius: 10px;
    padding:2px 5px;
    resize: vertical;
    border-width: 0;
    color: whitesmoke;
    font-family: inherit;
    text-align: center;
}
#Contact form input{
    line-height: 4vmin;
    height: 5vmax;
    font-size: 4vmin;
    border-radius: 5px;
    border-width: 0;
    text-align: center;
    font-family: inherit;
    color: whitesmoke;
    width: 60%;
    background-color: #303030;
}
#Contact form button#contact-submit{
    border-width: 0;
    border-radius: 10px;
    color: whitesmoke;
    font-family: inherit;
    padding: 5px;
    height: 3vmax;
    text-align: center;
    line-height: 2vmax;
    font-size: 2vmax;
    background-color: #303030;
    text-transform: uppercase;
}
#Contact form button#contact-submit:hover{
    color: #ff1111;
}
#Contact div#SocialMedia{
    all:unset;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 60%;
    height: 10vmin;
    border-radius: 3px;
}
#Contact div#SocialMedia a button{
    border-width:0 ;
    height: 8vmin;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    background-color: transparent;
    font-size: 8vmin;
    line-height: 8vmin;
    text-align: center;
}
#Contact div#SocialMedia a button ion-icon{
    transform: scale(2);
    color: whitesmoke;
    border-radius: 5px;
}
#Contact div#SocialMedia a button ion-icon:hover{
    box-shadow:  5px 5px 5px #ff111180 ,-5px -5px 5px #ff111180, 5px -5px 5px #ff111180, -5px 5px 5px #ff111180;
    color: #FF1111;
    transform: scale(2.5);
}
