* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  transition: all 0.25s linear;
}

body{

  & header{
    background-color: #000000;
    color: #f1e5fc;
    text-align: center;
    height: 60px;
    min-height: 60px;
    max-height:60px;
    width: 100%;
    & svg{
      width: 100%;
      & text {
        stroke: #f1e5fc;
        stroke-width: 1.5;
        letter-spacing: 1dvw;
        line-height: 48px;
        font-size: 48px;
        font-weight: 700;
        transition: stroke-dasharray, stroke-dashoffset;
        animation: textAnimate 3s ease-in-out infinite;
      }
    }
  }

  & main{
    width: 100%;
    overflow: auto;
    background:
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#fbfbff 68% 70%,#0000 72%) 20px 20px/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#fbfbff 68% 70%,#0000 72%) 20px 20px/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#fbfbff 68% 70%,#0000 72%) 0 0/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#fbfbff 68% 70%,#0000 72%) 0 0/calc(2*20px) calc(2*20px),
      repeating-conic-gradient(#f1e5fc 0 25%,#0000 0 50%) 0 0/calc(2*20px) calc(2*20px),
      radial-gradient(#0000 66%,#fbfbff 68% 70%,#0000 72%) 0 calc(20px/2)/20px 20px
      #f1e5fc;
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
    & section{
      min-height: inherit;
      min-width: 100%;
      display: none;
      place-items: center;
      & div{
        min-width: 90%;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        min-height: 90%;
        background-color: #00000090;
        backdrop-filter: blur(4px);
        border-radius: 2vmax;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        align-items: center;
        
        & figure{
          & svg {
          width:clamp(250px,50%,450px);
          border-radius: 25vh;
          }
          & figcaption{
            & svg{
              & text{
                /*color:#f1e5fc80;*/
                line-height: 48px;
                transition: stroke-dasharray, stroke-dashoffset;
                animation: textAnimate 3s ease-in-out infinite;
              }
            }
          }
        }
        & p{
          width: calc(100% - 4vmax);
          height: calc(100% - 4vmax);
          text-align: left;
          font-size: 50px;
          font-weight: 900;
          margin-top: 16px;
          margin-bottom: 16px;
          color: white;
          font-family: 'Comfortaa', 'Arial Narrow', Arial, sans-serif;
          text-transform: capitalize;
        }
        & div.projects{
          width: calc(100% - 4vmax);
          display: grid;
          grid-template-columns: 20% 80%;
          grid-template-areas:'img_div link_div'
                                'iframe iframe';
          & a{
            grid-area:link_div;
            text-align:center;
            width:100%;
          }
          & img{
            width:100%;
            margin:0;
            transform: scale(0.8);
            grid-area:img_div;
          }
          & iframe{ 
            grid-area: iframe;
            background-color:gray;
            border-radius:2vmin;
            display: block;
            margin: 5px;
            border-width: 0;
            aspect-ratio: 16/9;
            width: calc(100% - 10px);
          }
        }
        & hr{
          width: calc(100% - 4vmax);
          border-width: 0;
          height: 2px;
          background-color: #707070
        }
        & .smaller-text {
          font-size: 35px;
          font-family: 'Comfortaa', serif;
        }
      }
    }
    & section:first-child {
      display: grid;
    }
    & section#about{
      & div{
        & figure.cirtificate{
          backdrop-filter:blur(3px);
          border-radius:2vmin;
          width:90%;
          margin-top:15px;
          margin-bottom:15px;
          display:flex;
          flex-direction:column;
          align-items:center;
          & img{
            border-radius:2vmin;
            border:4px solid #00000000;
            width:calc(100% - 8px);
            margin-bottom:15px;
          }
          & figcaption{
            border-radius:2vmin;
            width:100%;
            text-align:center;
            margin-bottom:15px;
            & a{
              font-family:'consolas';
              font-weight:700;
              color:#f100fc;
              font-size:4vh;
            }
          }
        }
      }
    }
    & section#contact{
      & div#Contact{
        & form{
          width: 65%;
          height: 50vh;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          font-family: Comfortaa;
          & input,textarea,button:focus{
            margin: 10px;
            outline: 0;
          }
          & textarea{
            background-color: #303030;
            line-height: 4vmin;
            height: 5vmax;

            width: 100%;
            border-radius: 5px;
            padding:2px 5px;
            resize: vertical;
            border-width: 0;
            color: whitesmoke;
            font-family: inherit;
            text-align: center;
          }
          & textarea::selection{
            background-color:#f1e5fc;
          }
          & input{
            line-height: 4vmin;
            height: 5vmax;
            font-size: 4vmin;
            border-radius: 5px;
            border-width: 0;
            padding:2px 5px;
            text-align: center;
            font-family: inherit;
            color: #f1e5fc;
            width: 100%;
            background-color: #303030;
          }
          & button#contact-submit{
            border-width: 0;
            border-radius: 10px;
            color: whitesmoke;
            font-family: inherit;
            padding: 5px;
            line-height: 4vmin;
            height: 5vmax;

            text-align: center;

            background-color: #303030;
            text-transform: uppercase;
          }
          & button#contact-submit:hover{
            color: #f1e5fc;
          }
        }
        & div#SocialMedia{
          all:unset;
          display: flex;
          flex-direction:row;
          justify-content: space-evenly;
          align-items: center;
          background-color: transparent;
          width: 60%;
          height: 10vmin;
          border-radius: 3px;
          & a{
            & button{
              border-width:0 ;
              height: 8vmin;
              aspect-ratio: 1/1;
              display: grid;
              place-items: center;
              background-color: transparent;
              font-size: 8vmin;
              line-height: 8vmin;
              text-align: center;
              & ion-icon{
                transform: scale(2);
                color: whitesmoke;
              }
              & ion-icon:hover{
                box-shadow:  5px 5px 5px #f1e5fc80 ,-5px -5px 5px #f1e5fc80, 5px -5px 5px #f1e5fc80, -5px 5px 5px #f1e5fc80;
                color: #f1e5fc80;
                transform: scale(2.5);
              }
              & ion-icon:focus {
                color: #f1e5fc;
                transform: scale(1.5) rotate(360deg);
              }
            }
          } 
        } 
      } 
    }
  }

  & footer {
    background-color: #000000;
    width: 100%;
    display: grid;
    line-height: 60px;
    min-height: 60px;
    height:60px;
    max-height: 60px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 25vw);
    place-items: center;
    color: white;
    border-width: 0;
    overflow:hidden;
    & a{
      height:60px;
      & button.btn {
        font-weight: 200;
        border-width: 0;
        background-color: transparent;
        color: white;
        max-height: 60px;
        min-height: 60px;
        height:60px;
        width:60px;
        transition: color .2s linear, transform .2s linear;
        & ion-icon{
          height: 30px;
          width: 30px;
          line-height: 30px;
          aspect-ratio: 1/1;
        }
        & ion-icon.clicked.md.hydrated{
          color: #f1e5fc;
          transform: scale(1.5) rotate(360deg);
          transition: color .1s linear, transform .1s linear;
        }
        
      }
      & button.btn::selection{
        outline: 0 solid #f1e5fc;
      }
    }
  }
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}


div .hide {
  opacity: 0;
  transform: translateX(-100%);
  transition: all .45s ease-in-out;
}

div .show {
  opacity: 1;
  transform: translateX(0);
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top,#f1e5fc,#fbfbff);
  border-radius: 2px;
}
