@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Lobster', cursive;
}

main {
  width: 100%;
  overflow: auto;
  --s: 194px;
  /* control the size */
  --c1: #ff1111;
  --c2: #222222;
  --_l: #0000 calc(25%/3), var(--c1) 0 25%, #0000 0;
  --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);
  background:
    var(--_g), var(--_g) 0 calc(var(--s)/2),
    conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
    conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
    linear-gradient(150deg, var(--_l)) 0 calc(var(--s)/2),
    conic-gradient(at 25% 25%, #0000 50%, var(--c2) 0 240deg, var(--c1) 0 300deg, var(--c2) 0),
    linear-gradient(-150deg, var(--_l)) #ff3333
    /* third color here */
  ;
  background-size: calc(0.866*var(--s)) var(--s);
  min-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
}

header {
  background-color: #000000;
  color: #ff3333;
  text-align: center;
  height: 60px;
  width: 100%;
}

header svg {
  width: 100%;
}

div svg {
  border-radius: 25vh;
}

main section {
  min-height: inherit;
  min-width: 100%;
  display: none;
  place-items: center;
}

main section:first-child {
  display: grid;
}

svg text {
  stroke: #ff3333;
  stroke-width: 1.5;
  letter-spacing: 1dvw;
  line-height: 48px;
  font-size: 48px;
  font-weight: 700;
  transition: stroke-dasharray, stroke-dashoffset;
  animation: textAnimate 3s ease-in-out infinite;
}

footer {
  background-color: #000000;
  width: 100%;
  display: grid;
  line-height: 60px;
  min-height: 60px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 25vw);
  place-items: center;
  color: white;
}

button {
  font-weight: 200;
  border-width: 0;
  background-color: transparent;
  color: white;
  aspect-ratio: 1/1;
  min-height: inherit;
  transition: color .2s linear, transform .2s linear;
}

button:hover {
  color: #ff1414;
  transform: scale(1.44);
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}

section div {
  min-width: 90%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 90%;
  background-color: #303030ee;
  border-radius: 2vmax;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  align-items: center;
}

div p {
  width: calc(100% - 4vmax);
  height: calc(100% - 4vmax);
  text-align: left;
  font-size: 50px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
  font-family: 'Comfortaa', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
}

div hr {
  width: calc(100% - 4vmax);
}

.smaller-text {
  font-size: 35px;
  font-family: 'Comfortaa', serif;
}

div .hide {
  opacity: 0;
  transform: translateX(-100px);
  transition: all .3s linear;
}

div .show {
  opacity: 1;
  transform: translateX(0);
}
