*{
    margin:0;
    padding:0;
    transition: all 0.25s linear;
    font-family: 'Comfortaa';
}
body{
    background-image: url("https://source.unsplash.com/1440x1440/?galaxy");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div#root{
    width: 100%;
    height: 100vh;
    border-radius: 1vmin;
    animation:breath 3s ease-in-out infinite alternate;
    & section.output{
        width: 100%;
        height: 10vh;
        line-height: 10vh;
        display: grid;
        place-items: center;
        & input[type="text"]#output {
            width:calc(100% - 4px - 2vmin);
            height: calc(10vh - 4px);
            border-radius: 2vmin;
            line-height: 10vh;
            font-size: 6vh;
            border-width: 0;
            color: azure;
            background: #15151560;
            text-align: right;
            padding-left: 1vmin;
            padding-right: 1vmin;
            margin-top: 2px;
            margin-bottom: 2px;
            cursor:pointer;
        }
        & input[type="text"]#output:focus{
            outline-width: 0;
            border-width: 0;
        }
        & input[type="text"]#output::placeholder{
            color: #252525;
        }
    }
    & section.controls{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00000000;
        & div.history{
            overflow: auto;
            width: 100%;
            & div.expressionHolder{
                margin-top: 2px;
                margin-bottom: 2px;
                border-radius: 2vmin;
                overflow: hidden;
                width: 100%;
                border-width: 0;
                color: azure;
                height: 10vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: right;
                & input[type="text"]{
                    width:calc(100% - 4px - 2vmin);
                    padding-left: 1vmin;
                    padding-right: 1vmin;
                    height:5vh;
                    border-width: 0;
                    text-align: right;
                    background-color: #25252560;
                    line-height: 5vh;
                    font-size: 4vh;
                    font-weight: 900;
                    border-radius: 2vmin;
                }
                & input[type="text"]:focus{
                    outline-width: 0;
                    border-width: 0;
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0);
    border-radius: 2px;
}
@keyframes breath {
    from{
        backdrop-filter: blur(5px);
    }to{
        backdrop-filter: blur(0px);
    }
}
